<div class="container">

  <!-- イラスト一覧・検索ボックス -->
  <section class="mypage-tabmenu">
    <h1 class="heading-text">イラスト一覧</h1>

    <!-- 検索ボックス -->
    <%= form_tag(illustrations_path, method: "get", class: "") do %>
      <%= text_field_tag :search, params[:search], placeholder: "検索したいイラストのタイトルを入力", class: "" %>
      <%= submit_tag "探す", name: "nil", class: "" %>
    <% end %>

  </section>

  <!-- イラスト一覧表示 -->
  <section class="">
    <div>

      <% @illustrations.each do |illustration| %>
        <!-- イラストを一覧表示 -->
        <div>
          <p><%= attachment_image_tag illustration, :illust_image, :fill, 50, 50, fallback: "img/no_image.png", size: "50x50" %></p>
          <p><%= illustration.illust_title %></p>
          <span><%= attachment_image_tag illustration.user, :user_image, :fill, 30, 30, fallback: "img/no_image.png", size: "30x30" %></span>
          <span><%= illustration.user.name %></span>
        </div><!-- イラスト一覧表示 -->
      <% end %>

    </div>

  </section>

    </div>
  </div>

</div>
