<div class="container">
  <div>

    <!-- イラスト情報 -->
    <article class="illust-definition">

      <!-- イラスト -->
      <figure>
        <div class="illustration">
          <%= attachment_image_tag @illustration, :illust_image, :fill, 300, 300, fallback: "img/no_image.png" %>
        </div>
      </figure>

      <!-- 編集ボタン -->
      <%= link_to "編集", edit_illustration_path, class: "btn btn-success" %>

      <!-- 投稿日時等の情報 -->
      <p class="post-date"><%= @illustration.created_at %></p>
      <span class="view-count">閲覧数：1000</span>
      <p class="like-illust">このイラストをお気に入りにする★</p>

      <!-- イラストについての説明 -->
      <div class="illust-description">
        <h1><%= @illustration.illust_title %></h1>

        <p>イラストメッセージ</p>
        <%= @illustration.illust_introduction %>
        <p><strong>評価してほしいポイント</strong></p>
        <div>
          <%= @illustration.evaluation_point %>
        </div>

        <!-- タグ -->
        <span>#正月</span>
        <span>#あけおめ</span>
        <span>#猪</span>
        <span>#2019年</span>

      </div>
    </article>

    <!-- 添削内容・コメント表示 -->
    <section class="correction-contents">
      <!-- 添削 -->
      <div class="correction">
        <h1>コメント1</h1>
        <span>ユーザー：山下</span>
        <p>こうするといいですよ</p>
        <div>イラスト添削後</div>
        <div>イラスト添削前</div>
      </div>

      <!-- コメント -->
      <div class="comment">
        <h1>コメント2</h1>
        <span>ユーザー：ゆきち</span>
        <p>いいですね</p>
      </div>
    </section>

    <!-- 投稿者情報 -->
    <aside class="user-information">
      <h1>投稿者情報</h1>
      <div>投稿者サムネイル</div>
      <p>名前</p>
      <p>紹介</p>
    </aside>


    <!-- 画面の一番上へ戻るボタン -->
    <div>
      <%= link_to "上へ", "#", class: "back-button" %>
    </div>

  </div>
</div>
