<div class="container">
  <div>

    <!-- イラスト情報 -->
    <article class="illust-definition">

      <!-- イラスト -->
      <figure>
        <div class="illustration">
          <%= attachment_image_tag @illustration, :illust_image, :fill, 300, 300 %>
        </div>
      </figure>

      <!-- 編集ボタン(イラスト投稿者がcurrent_userと同一人物の場合に表示) -->
      <% if @illustration.user_id == current_user.id %>
        <%= link_to "編集", edit_illustration_path, class: "btn btn-success" %>
      <% else %>
      <% end %>

      <!-- 投稿日時等の情報 -->
      <p class="post-date"><%= @illustration.created_at %></p>
      <span class="view-count">閲覧数：1000</span>

      <!-- イラストへのお気に入り機能 -->
      <% if @illustration.illust_liked_by?(current_user) %>
        <li>
          <%= link_to illustration_like_illustrations_path(@illustration), method: :delete, class: "like", remote: true do %>
            <i class="fa fa-heart" aria-hidden="true" id='<%= @illustration.id %>'></i>
            <%= @illustration.like_illustrations.count %> いいね
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to illustration_like_illustrations_path(@illustration), method: :post, class: "like", remote: true do %>
            <i class="fa fa-heart-o" aria-hidden="true" id='<%= @illustration.id %>'></i>
            <%= @illustration.like_illustrations.count %> いいね
          <% end %>
        </li>
      <% end %>

      <!-- イラストについての説明 -->
      <div class="illust-description">
        <h1><%= @illustration.illust_title %></h1>

        <p>イラストメッセージ</p>
        <%= @illustration.illust_introduction %>
        <p><strong>評価してほしいポイント</strong></p>
        <div>
          <%= @illustration.evaluation_point %>
        </div>

        <!-- 入力したタグの表示 -->
        <div>
          <% if @illustration.tag_lists.present? %>
            <% @illustration.tag_lists.each do |tag_list| %>
              <p><%= tag_list.tag_name %></p>
            <% end %>
          <% else %>
            <p>タグが設定されていません</p>
          <% end %>


        </div>

        <span>#正月</span>
        <span>#あけおめ</span>
        <span>#猪</span>
        <span>#2019年</span>

      </div>
    </article>

    <!-- 投稿者情報 -->
    <aside class="user-information">
      <h2>投稿者情報</h2>
      <p><%= attachment_image_tag @user, :user_image, :fill, 100, 100, fallback: "img/no_image.png", size: "100x100" %></p>
      <p><%= "ユーザー名：" + @user.name %></p>
      <p><%= "自己紹介：" + @user.introduction_text %></p>
    </aside>

    <!-- 添削内容・コメント表示 -->
    <section class="correction-contents">
      <h2>添削一覧</h2>

      <!-- 添削・コメント数 -->
      <p>添削・コメント数</p>
      <p><%= @illustration.corrections.count.to_s + "件" %></p>

      <!-- 添削・コメント表示 -->
      <% @illustration.corrections.each do |correction| %>
        <% if correction.corrected_illust.present? %>
          <h3><%= "添削" + (@correct += 1).to_s %></h3>
          <span><%= correction.user.name %></span>
          <p><%= correction.comment %></p>
          <p>
            <%= attachment_image_tag correction, :corrected_illust, :fill, 100, 100 %>
          </p>
          <p>
            <%= link_to "この投稿を削除する", illustration_correction_path(@illustration, correction), method: :delete, "data-confirm" => "この投稿を削除しますか？", class: "btn btn-danger danger-button" %>
          </p>
        <% else %>
          <h3><%= "コメント" + (@comment += 1).to_s %></h3>
          <span><%= correction.user.name %></span>
          <p>
            <%= correction.comment %>
          </p>
          <p>
            <%= link_to "この投稿を削除する", illustration_correction_path(@illustration, correction), method: :delete, "data-confirm" => "この投稿を削除しますか？", class: "btn btn-danger danger-button" %>
          </p>
        <% end %>
      <% end %>

      <!-- 添削・コメント投稿フォーム -->
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h2>このイラストに添削またはコメントする</h2>
        </div>
        <div class="panel-body">
          <%= form_for [@illustration, @correction] do |f| %>
          <!-- , url: corrections_path, html: {method: 'POST'}) -->
            <!-- 添削したイラストを選択 -->
            <div>
              <label>添削したイラストを選択</label><br>
              <%= f.attachment_field :corrected_illust, class: "file" %>
            </div>
            <!-- コメント入力フォーム -->
            <div>
              <label>コメント</label><br>
              <%= f.text_field :comment, class: "form-size", placeholder: "コメントを入力してください" %>
            </div>
            <!-- 添削・コメント投稿 -->
            <div>
              <%= f.submit "投稿", class: "btn btn-warning" %>
            </div>
            <% end %>
          </div>

      </div>

    </section>

    <!-- 画面の一番上へ戻るボタン -->
    <div>
      <%= link_to "上へ", "#", class: "back-button" %>
    </div>

  </div>
</div>
