<div class="container">
  <div>

    <!-- イラスト情報 -->
    <article class="illust-definition">

      <!-- イラスト -->
      <figure>
        <div class="illustration">
          <%= attachment_image_tag @illustration, :illust_image, :fill, 300, 300 %>
        </div>
      </figure>

      <!-- 編集ボタン(イラスト投稿者がcurrent_userと同一人物の場合に表示) -->
      <% if @illustration.user == current_user %>
        <%= link_to "編集", edit_illustration_path, class: "btn btn-success" %>
      <% end %>

      <!-- 投稿日時等の情報 -->
      <p class="post-date"><%= "投稿日時：" + @illustration.created_at.strftime('%Y年 %m月 %d日 %H:%M') %></p>
      <span class="view-count">閲覧数：1000</span>

      <!-- イラストへのお気に入り機能 -->
      <% if @illustration.user != current_user %>
        <% if @illustration.illust_liked_by?(current_user) %>
        <li>
          <%= link_to illustration_like_illustrations_path(@illustration), method: :delete, class: "like", remote: true do %>
          <i class="fa fa-heart" aria-hidden="true" id='<%= @illustration.id %>'></i>
          <%= @illustration.like_illustrations.count %> いいね
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to illustration_like_illustrations_path(@illustration), method: :post, class: "like", remote: true do %>
          <i class="fa fa-heart-o" aria-hidden="true" id='<%= @illustration.id %>'></i>
          <%= @illustration.like_illustrations.count.to_s + "お気に入り" %>
          <% end %>
        </li>
        <% end %>
      <% end %>

      <!-- イラストについての説明 -->
      <div class="illust-description">
        <h1><%= @illustration.illust_title %></h1>

        <p>イラストメッセージ</p>
        <div>
          <p><%= @illustration.illust_introduction %></p>
        </div>

        <p><strong>評価してほしいポイント</strong></p>
        <div>
          <p><%= @illustration.evaluation_point %></p>
        </div>

        <!-- 入力したタグの表示 -->
        <div>
          <p>イラストタグ</p>
          <ul>
            <li>
              <% if @illustration.tag_lists.present? %>
                <% @illustration.tag_lists.each do |tag_list| %>
                  <span class="tag-style"><%= "#" + tag_list.tag_name %></span>
                <% end %>
              <% else %>
                <p>タグが設定されていません</p>
              <% end %>
            </li>
          </ul>
        </div>

      </div>
    </article>

    <!-- 投稿者情報表示 -->
    <section class="my-information">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="h2-text">ユーザー情報</h2>
        </div>
        <div class="panel-body">
          <div>
            <div class="my-information-box">
              <div class="user-icon"><%= attachment_image_tag @user, :user_image, :fill, 100, 100, fallback: "img/no_image.png", size: "100x100", class: "icon" %></div>

              <p><%= "ユーザー名：" + @user.name %></p>

              <p>
                <!-- アカウント作成から現在までの日数を計算 -->
                <% today = Time.zone.now %><!-- 本日の日時 -->
                <% @user.created_at.strftime('%Y%m-%d  %H:%M') %><!-- タイムゾーン通りかの確認用に記述した -->
                <% duration_seconds = today - @user.created_at %><!-- アカウント登録時からの日数 -->
                <% day_seconds = 60 * 60 * 24 %><!-- 1日の秒数 -->
                <% account_duration = duration_seconds / day_seconds %>
                <% account_duration.ceil %><!-- 小数点以下を切り上げ -->
                <!-- ユーザーのイラスト年数・月を日数に変換 -->
                <% year_to_day = (@user.history_year * 365) %><!-- 年数を日数に変換 -->
                <% month_to_day = (@user.history_month * 30) %><!-- 月を日数に変換 -->
                <% illust_history = year_to_day + month_to_day %>
                <%= "イラスト歴：" + (account_duration.ceil + illust_history).to_s + "日" + "(約" + ((account_duration.ceil + illust_history)/365).floor.to_s + "年)" %>
              </p>

              <% if @user.introduction_text.present? %>
                <p><%= "自己紹介：" + @user.introduction_text %></p>
              <% else %>
                <p><%= "自己紹介： 自己紹介文が設定されていません"  %></p>
              <% end %>
            </div>

            <!-- ユーザーへのお気に入り機能 -->
            <div>
              <% if @user.user_liked_by?(current_user) %>
                <li>
                  <%= link_to user_like_users_path(@user), method: :delete do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                    <%= @user.like_users.count + "お気に入り" %>
                    <% end %>
                </li>
              <% else %>
                <% if @user == current_user %>
                  <li>
                    <%= link_to user_like_users_path(@user), method: :post do %>
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <%= @user.like_users.count + "お気に入り" %>
                      <% end %>
                  </li>
                <% end %>
              <% end %>
            </div>

          </div>
    </section>


    <!-- 添削内容・コメント表示 -->
    <section class="correction-contents">
      <h2>添削・コメント一覧</h2>

      <!-- 添削・コメント数 -->
      <p>添削・コメント数</p>
      <p><%= @illustration.corrections.count.to_s + "件" %></p>

      <!-- 添削・コメント表示 -->
      <% @illustration.corrections.each do |correction| %>
        <% if correction.corrected_illust.present? %>
          <h3><%= "添削" + (@correct += 1).to_s %></h3>
          <span><%= correction.user.name %></span>
          <p><%= correction.comment %></p>
          <p>
            <%= attachment_image_tag correction, :corrected_illust, :fill, 100, 100 %>
          </p>
          <% if correction.user == current_user %>
            <p>
              <%= link_to "この投稿を削除する", illustration_correction_path(@illustration, correction), method: :delete, "data-confirm" => "この投稿を削除しますか？", class: "btn btn-danger danger-button" %>
            </p>
          <% end %>
        <% else %>
          <h3><%= "コメント" + (@comment += 1).to_s %></h3>
          <span><%= correction.user.name %></span>
          <p>
            <%= correction.comment %>
          </p>
          <% if correction.user == current_user %>
            <p>
              <%= link_to "この投稿を削除する", illustration_correction_path(@illustration, correction), method: :delete, "data-confirm" => "この投稿を削除しますか？", class: "btn btn-danger danger-button" %>
            </p>
          <% end %>
        <% end %>
      <% end %>

      <!-- 添削・コメント投稿フォーム -->
      <div class="panel panel-warning">
        <div class="panel-heading">
          <% if @illustration.user == current_user %>
            <h2>このイラストにコメントする</h2>
          <% else %>
            <h2>このイラストに添削またはコメントする</h2>
          <% end %>
        </div>
        <div class="panel-body">
          <%= form_for [@illustration, @correction] do |f| %>
          <!-- , url: corrections_path, html: {method: 'POST'}) -->
            <% if @illustration.user != current_user %>
              <!-- 添削したイラストを選択 -->
              <div>
                <label>添削したイラストを選択</label><br>
                <%= f.attachment_field :corrected_illust, class: "file" %>
              </div>
            <% end %>
            <!-- コメント入力フォーム -->
            <div>
              <label>コメント</label><br>
              <%= f.text_field :comment, class: "form-size", placeholder: "コメントを入力してください" %>
            </div>
            <!-- 添削・コメント投稿 -->
            <div>
              <%= f.submit "投稿", class: "btn btn-warning" %>
            </div>
          <% end %>
        </div>

      </div>
    </section>

    <!-- 画面の一番上へ戻るボタン -->
    <div>
      <%= link_to "上へ", "#", class: "back-button" %>
    </div>

  </div>
</div>
