<div class="container">

  <!-- 要素の外側に線をつけるための要素 -->
  <div class="border-frame">
    <!-- ユーザー一覧・検索ボックス -->
    <section class="heading-menu">
      <div class="heading-position">
        <h1 class="heading-text">ユーザーを探す</h1>
      </div>

      <!-- 検索ボックス -->
      <div class="search-area">
        <p class="search-text">ユーザーを検索</p>
        <%= form_tag(users_path, method: "get", class: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "検索したいユーザーの名前を入力してください", class: "search-box" %>
        <%= submit_tag "検索", name: "nil", class: "search-button btn btn-primary" %>
        <% end %>
      </div>
    </section>

    <!-- ユーザー一覧表示 -->
    <section class="index-box">
      <div>

        <!-- ユーザーを一覧表示 -->
        <table class="table">
          <thead>
            <tr>
              <th>ユーザー画像</th>
              <th>ユーザー名</th>
              <th>自己紹介文</th>
              <th>イラスト歴</th>
            </tr>
          </thead>
          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag user, :user_image, :fill, 50, 50, fallback: "img/no_image.png", size: "50x50" %>
              </td>
              <td>
                <%= link_to user.name, user_path(user.id) %>
              </td>
              <td>
                <% if user.introduction_text.present? %>
                <%= user.introduction_text %>
                <% else %>
                <%= "自己紹介文が設定されていません" %>
                <% end %>
              </td>
              <td>
                <!-- アカウント作成から現在までの日数を計算 -->
                <% today = Time.zone.now %><!-- 本日の日時 -->
                <% user.created_at.strftime('%Y%m-%d  %H:%M') %><!-- タイムゾーン通りかの確認用に記述した -->
                <% duration_seconds = today - user.created_at %><!-- アカウント登録時からの日数 -->
                <% day_seconds = 60 * 60 * 24 %><!-- 1日の秒数 -->
                <% account_duration = duration_seconds / day_seconds %>
                <% account_duration.ceil %><!-- 小数点以下を切り上げ -->
                <!-- ユーザーのイラスト年数・月を日数に変換 -->
                <% year_to_day = (user.history_year * 365) %><!-- 年数を日数に変換 -->
                <% month_to_day = (user.history_month * 30) %><!-- 月を日数に変換 -->
                <% illust_history = year_to_day + month_to_day %>
                <%= (account_duration.ceil + illust_history).to_s + "日" + "(約" + ((account_duration.ceil + illust_history)/365).floor.to_s + "年)" %>                
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>

      </div>

    </section>
  </div>

  <!-- 画面の一番上へ戻るボタン -->
  <div class="to-top">
    <%= link_to "上へ", "#", class: "back-button" %>
  </div>

</div>
