<div class="container">

  <h1 class="heading-text"><%= @user.name %></h1>
  <!-- ユーザー情報表示 -->
  <div>

    <div>
      <% if @user.introduction_text.present? %>
        <p><%= "自己紹介：" + @user.introduction_text %></p>
      <% else %>
        <p><%= "自己紹介： 自己紹介文が設定されていません"  %></p>
      <% end %>
      <p>イラスト歴</p>
        <!-- アカウント作成から現在までの日数を計算 -->
        <% today = Time.zone.now %><!-- 本日の日時 -->
        <% @user.created_at.strftime('%Y%m-%d  %H:%M') %><!-- タイムゾーン通りかの確認用に記述した -->
        <% duration_seconds = today - @user.created_at %><!-- アカウント登録時からの日数 -->
        <% day_seconds = 60 * 60 * 24 %><!-- 1日の秒数 -->
        <% account_duration = duration_seconds / day_seconds %>
        <% account_duration.ceil %><!-- 小数点以下を切り上げ -->
        <!-- ユーザーのイラスト年数・月を日数に変換 -->
        <% year_to_day = (@user.history_year * 365) %><!-- 年数を日数に変換 -->
        <% month_to_day = (@user.history_month * 30) %><!-- 月を日数に変換 -->
        <% illust_history = year_to_day + month_to_day %>
        <p><%= "描きはじめてから約" + (account_duration.ceil + illust_history).to_s + "日" + "(約" + ((account_duration.ceil + illust_history)/365).floor.to_s + "年)" %></p>
    </div>

    <div>
    <!-- ユーザーへのお気に入り機能 -->
    <% if @user.user_liked_by?(current_user) %>
      <li>
        <%= link_to user_like_users_path(@user), method: :delete do %>
          <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= @user.like_users.count %>いいね
          <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to user_like_users_path(@user), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= @user.like_users.count %>いいね
          <% end %>
      </li>
    <% end %>
    </div>

  </div>

  <!-- ユーザーのイラストを一覧表示 -->
  <div>
    <h2>ユーザーイラスト一覧</h2>
    <% @illustrations.each do |illustration| %>
      <div>
        <p><%= attachment_image_tag illustration, :illust_image, :fill, 50, 50, fallback: "img/no_image.png", size: "50x50" %></p>
      </div>
    <% end %>
  </div>

</div>
