<div class="container">

  <h1 class="heading-text"><%= @user.name %></h1>
  <!-- ユーザー情報表示 -->
  <div>

    <div>
      <p>イラスト歴</p>
      <p>
        <%= @user.history_year.to_s + "年" + @user.history_month.to_s + "ヶ月" %>
      </p>
    </div>

    <div>
    <!-- ユーザーへのお気に入り機能 -->
    <% if @user.user_favorited_by?(current_user) %>
      <li>
        <%= link_to user_like_users_path(@user), method: :delete do %>
          <i class="fa fa-heart" aria-hidden="true" style="color: red;" </i>
          <%= @user.like_users.count %>いいね
          <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to user_like_users_path(@user), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= @user.like_users.count %>いいね
          <% end %>
      </li>
    <% end %>
    </div>

  </div>

  <!-- ユーザーのイラストを一覧表示 -->
  <div>
    <h2>ユーザーイラスト一覧</h2>
    <% @illustrations.each do |illustration| %>
      <div>
        <p><%= attachment_image_tag illustration, :illust_image, :fill, 50, 50, fallback: "img/no_image.png", size: "50x50" %></p>
      </div>
    <% end %>
  </div>

</div>
