<!DOCTYPE html>
<html>
  <head>
    <!-- 文字コード指定 -->
    <meta charset="utf-8">
    <!-- レスポンシブ対応 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yolliuma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- font-awesome(アイコン)に使用 -->
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダーの表示内容です -->
    <header class="header-bg">

      <div class="container">
        <!-- <div class="logo"></div> -->
        <nav>
          <ul class="header-nav">

            <!-- User ログイン状態のヘッダー表示 -->
            <% if user_signed_in? %>
              <li class="header-list">
                <%= link_to "イラスト投稿", new_illustration_path, class: "header-link" %>
              </li>
              <li class="header-list">
                <%= link_to "イラスト一覧", illustrations_path, class: "header-link" %>
              </li>
              <li class="header-list">
                <%= link_to "ユーザー一覧", users_path, class: "header-link" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-btn" %>
              </li>
              <%= current_user.name %>
              <ul class="sub">
                <li>
                  <%= link_to "マイページ", users_mypage_path(current_user), class: "header-btn" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-btn" %>
                </li>
              </ul>

            <!-- Admin ログイン状態のヘッダー表示 -->
            <% elsif admin_signed_in? %>
              <li class="header-list header-link">
                管理者
                <ul class="sub">
                  <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header-btn" %></li>
                </ul>
              </li>

            <!-- 未ログイン状態のヘッダー表示 -->
            <% else %>
              <li class="header-list">
                <%= link_to "新規登録", new_user_registration_path, class: "header-link" %>
              </li>
            <% end %>

          </ul>
        </nav>
      </div><!-- containerクラスの終わり -->

    </header>

    <!-- フラッシュメッセージ -->
    <div class="contents flash">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>

    <!-- フッターの表示内容です -->
    <!-- <footer>
      <p>&copy; 2019 yolliuma.Inc. All Rights Reserved.</p>
    </footer> -->
    <%= yield %>
  </body>
</html>
